@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

html,
body {
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto 0;
}

.card {
    margin-top: 5%;
    padding: 5px 30px;
    width: 290px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;

}


h1 {
    color: #666;
    font-weight: 300;
    font-size: 100px;
    line-height: .2em;
    flex: 1;
    text-align: right;
}

h2 {
    font-weight: 300;
    align-items: flex-end;
    margin: 30px 0 0 0;

}

h3 {
    float: left;
    margin-right: 33px;
    color: #777;
    font-weight: 400;
    font-size: 1em;
}

span {
    margin-left: 24px;
    color: #999;
    font-weight: 300;
}

span span {
    margin-left: 0;
}

.dot {
    font-size: .9em;
}

.sky {
    position: relative;
    top: 25px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #03A9F4;
}

.sun {
    position: relative;
    top: -3px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #FFEB3B;
}

.cloud {
    position: absolute;
    top: 60px;
    left: 30px;
}

.cloud:before,
.cloud:after {
    position: absolute;
    display: block;
    content: "";
}

.cloud:before {
    margin-left: -10px;
    width: 51px;
    height: 18px;
    background: #fff;
}

.cloud:after {
    position: absolute;
    top: -10px;
    left: -22px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 50px -6px 0 6px #fff, 25px -19px 0 10px #fff;
}

table {
    margin: 30px 0;
    width: 100%;
    text-align: center;
}

tr:nth-child(1) td{
    padding-bottom: 32px;
}

tr:nth-child(2) td,
tr:nth-child(3) td{
    font-size: .9em;
    padding-bottom: 7px;
}


tr:nth-child(3) {
    color: #999;
}

.input {
    display: flex;
    gap: 10px;
    width: 350px;
}

.inputCity {
    flex: 1;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    transition: border-color 0.3s;
}

.inputCity:focus {
    outline: none;
    border-color: #03A9F4;
}

.btnAddCity {
    padding: 12px 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #03A9F4;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
    white-space: nowrap;
}


.btnAddCity:hover {
    background-color: #0288D1;
}

.btnAddCity:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}